  <%= form_for @recipe do |f| %>
  <%= f.label :title, 'Recipe Title:' %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :instructions %>
  <%= f.text_field :instructions %>
  <br>
  <br>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>
  <br>
  <br>
  <div class="field">
  <%= f.label :recipe_image %><br />
  <%= f.file_field :recipe_image %>    
  </div>
  <%= f.submit button_text %>
<% end %>

