<!DOCTYPE html>
<html>
<head>
  <title>CookingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav><h1>Cook Some Stuff</h1>

<%= render partial: "layouts/menu" %>
</nav>
<%= yield %>

</body>
</html>
